{% extends "index.html" %}
{% block content %}
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Checkout form</h2>
        </div>

        <form action="/oCreate" method="post">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="floatingSelect" class="form-label">Product</label>
                    <select name="p_sel" class="form-select" id="floatingSelect" aria-label="Floating ex">
                        <option value={{selected_product.id}} selected>{{selected_product.name}}</option>
                        {% for p in products %}
                        <option value="{{p.id}}">{{p.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Quantity</label>
                    <input name="p_quan" type="number" class="form-control"/>
                </div>
            </div>
            <hr class="my-4"/>
            <button class="w-100 btn btn-primary btn-lg" type="submit">Buy</button>
        </form>
    </main>
</div>
{% endblock %}